{{ blok._editable }}
<li class="mdl-list__item mdl-list__item--three-line">
  <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-avatar">person</i>
    <span>{{blok.name}}</span>
    <span class="mdl-list__item-text-body">
      {{blok.text}}
    </span>
  </span>
</li>
